body{
    background:url("backgroundimg.jpg");
    background-size:cover;
    background-position:center;
    background repeat:no repeat;
    font-family:Pixelify sans,sans-serif;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
.wrapper{
text-align:centre;
}


.login-box{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    font-size:22px;
    gap:20px;
    width:260px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
h1 {
    font-size: 58.8px;
    font-weight: bold;
    text-align: center;


}

.input{
    padding:10px;
    border-radius:6px;
    border:4px;
    outline:none;
    font-size:16px;
}
.btn{
    padding:10px;
    background:#7ed957;
    border-radius:6px;
    border:none;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
