body{
    background:black;
    font-family:geometric,sans-serif;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
.wrapper{
text-align:centre;
}


.login-box{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    width:250px;
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #4ade80, #22c55e);

}

.input{
    padding:10px;
    border-radius:6px;
    border:4px;
    outline:none;
    font-size:16px;
}
.btn{
    padding:10px;
    background:green;
    border-radius:6px;
    border:none;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
