@font-face {
  font-family: "pixelify";
  src:
    url('./PixelifySans-Regular.ttf') format('truetype')
}

body{
    background-image: url('./managepage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    font-family: pixelify, sans-serif  
      
}

#pagetitle{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    

}
.managepagemain{
 max-width: 100%;
 max-height: 100%;  
 /* border: 10px solid red;  */


}
.habitat_table{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */
    width: 1200px;;
    margin: auto;
    
}

#managetable{
    height: 50px;
    width: fit-content;
    /* border: 5px solid dodgerblue; */
    margin: auto;
    width: 90%;
    background-color: rgba(187, 173, 124, 0.5);
    /* border-collapse: collapse; */
    

}
#managetable img{
    height: 60px;
    width: 100px;
    border-collapse: collapse;
    background-color: rgba(245,245,220,0.3);
    object-fit: contain;


}
#managetable thead{
    /* border: 1px solid purple; */
    background-color: #8b4513;
    border-collapse: collapse;
    font-size: 25px;
    color: white
    
}
#managetable tbody tr td:hover{
    background-color: #bbad7c    
}

#managetable td{
    height: 80px;
    text-align: center;
    vertical-align: center;
    font-size: 22px;
    
}
#managetable td figure{
    font-size: 15px;
    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    

    /* background-color: #7ed957; */
}
.buttons button{
    background-color: #7ed957;
    padding: 3px;
    margin: 20px;
}


