
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
    text-align: center;
    background: sandybrown;
}

button {
  padding: 50px 550px;
  margin: 8px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkolivegreen;
}
