body {
  padding: 20px;
  line-height: 1.5;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.page,
.hidden,
.popup.hidden {
  display: none;
}
.page.active {
  display: block;
}
.journal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}
.habitats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}
.popup-content {
  background: white;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}
.creature-item {
  padding: 5px 0;
  cursor: pointer;
}
.journal-item {
  text-align: center;
  padding: 10px;
}
.journal-item img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
h1,
h3 {
  margin-bottom: 15px;
  font-weight: normal;
}
