body {
  padding: 20px;
  line-height: 1.5;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.page,
.hidden,
.popup.hidden {
  display: none;
}
.page.active {
  display: block;
}
.journal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}
.habitats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn,
input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 4px;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}
#loginBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  background: green;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.welcomeHeader {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #4ade80, #22c55e);
}
.popup-content {
  background: white;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}
.creature-item {
  padding: 5px 0;
  cursor: pointer;
}
.journal-item {
  text-align: center;
  padding: 10px;
}
.journal-item img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
h1,
h3 {
  margin-bottom: 15px;
  font-weight: normal;
}
#exitPage.active {
  background: black;
  font-family: geometric, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#exitPage .btn {
  padding: 10px;
  background: green;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}
