body{
    background:url("exitbackground.jpg");
    background-size:cover;
    background-position:center;
    background repeat:no repeat;
    font-family:pixelify sans,sans-serif;
    color:#8b4513 ;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
.exit-wrapper{
    text-align:center;
}

.btn{
    padding:10px;
    background:#7ed957;
    border-radius:6px;
    border:none;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;

}
