body{
    background:black;
    font-family:geometric,sans-serif;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.btn{
    padding:10px;
    background:green;
    border-radius:6px;
    border:none;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
