<!DOCTYPE html>
<html lang="en">>
<head>
    <meta charset="UTF-8">
    <title>Manage Habitat</title>
    <script src="../static/manage.js" defer></script>
    <link rel="stylesheet" href="../static/manage.css">
    
</head> 
<body>
    <div id="pagetitle"><h1>Manage Habitat</h1></div>
   
    <main class="managepagemain">

        
        
    <div class="habitat_table">
        
    </div>

    <div id="manage_btn" class="buttons">
        <button id = 'Backbtn'>Back</button>
        <button id = 'Editbtn'>Move</button> 
    </div>
    </main>


</body>
</html>